data
geomstats
outputs
libigl-tutorial-data

__pycache__
*.pyc
.DS_Store
.vscode
*.png
*.pdf
*.svg
*.pt
*.pkl
*.sh
*.vtk
*.vtu
*.obj
core
figs
lightning_logs

.flake8
*.egg-info
build
*.egg
*.csv

# Jupyter Notebook
.ipynb_checkpoints
